@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header{
  background-color: #f8f9fa;
  width: 100%;
  position: relative;
  padding: 2rem 0;
}
.header h1{
  margin: 2rem;
  display: inline;
}
nav{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul{
  margin-right: 1.2rem
}
nav ul li{
  list-style: none;
  display: inline;
  margin-left: 1rem;
}
nav ul li a{
  color: rgba(0,0,0,.5);
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a:hover{
  color: rgba(0,0,0,.7);
}
nav .user-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.component-container{
  padding: 2rem;
}
.form-container{
  width: 100%;
  max-width: 500px;
}
.select-avatar{
  margin-right: 1rem;
}
.question-container{
  padding: 1rem 2rem;
  text-decoration: none;
}
.question-author-details{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}